@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* .flex-between {
    @apply flex justify-between items-center;
  } */

  .text-46-normal {
    @apply font-normal md:leading-[38px] lg:leading-[52px] leading-[30px] text-[20px] sm:text-[26px] md:text-[35px] lg:text-[46px] text-black;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }

  .white_container {
    @apply w-full bg-white min-h-[530px] flex justify-center items-center flex-col gap-[20px] py-10 px-6;
  }

  .green_container {
    @apply w-full bg-primary h-[110px] flex justify-center items-center flex-col gap-[20px] py-10 px-6;
  }

  .tag {
    @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative tag-tri;
  }

  .heading {
    @apply uppercase px-6 py-3 font-work-sans font-extrabold text-gray-800 sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply text-20-medium max-w-2xl text-center break-words;
  }

  .customParagraph {
    @apply text-sm font-normal break-words sm:text-base md:text-base lg:text-base 2xl:text-xl;
  }

  .heading-partner {
    @apply px-6 py-3 mb-8 bg-gradient-to-r from-black to-primary text-transparent bg-clip-text font-work-sans font-medium container sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .bar {
    @apply w-[50px] h-[2.5px] bg-black rounded;
  }

  .menu-icon {
    @apply cursor-pointer flex flex-col items-center gap-[15px] absolute top-[58px] right-[20px] z-[101];
  }

  .mobile-screen {
    @apply fixed inset-0 z-50 flex flex-col items-start justify-start top-[90px] px-4 py-6 bg-white backdrop-blur-[5px] transition-transform duration-300;
  }

  .nav-bar {
    @apply flex justify-between items-center h-16 md:h-20 gap-5 px-4 bg-white shadow-lg transition-transform duration-300;
  }

  .nav-bar ul {
    @apply flex justify-center items-center mt-4;
  }

  .nav-bar li {
    @apply relative;
  }

  .nav-bar button {
    @apply text-gray-800 font-medium transition-colors duration-300 ease-in-out hover:text-[];
  }

  .nav-bar a {
    @apply text-gray-800 font-medium transition-colors duration-300 ease-in-out hover:text-[#93C740];
  }

  .nav-bar ul li:hover ul {
    @apply block;
  }

  /* .nav-bar .dropdown-menu {
    @apply absolute left-0 mt-2 p-2 bg-white border border-gray-200 rounded-md shadow-lg;
  }

  .nav-bar .dropdown-item {
    @apply block w-full text-left px-4 py-2 hover:bg-gray-100;
  } */

  /* Footer Links */
  .footer-links {
    @apply text-gray-800 transition-colors duration-300 ease-in-out hover:text-[#93C740];
  }

  /* Responsive Styling */
  @media (max-width: 768px) {
    .nav-bar {
      @apply flex flex-col items-center;
    }

    .nav-bar ul {
      @apply text-base flex flex-col space-y-3 items-start;
    }

    .nav-bar button {
      @apply w-full;
    }

    .nav-bar .dropdown-menu {
      @apply w-full;
    }
  }

  .custom-link {
    @apply relative inline-block;
  }

  .custom-link::after {
    content: '';
    @apply absolute w-full transform scale-x-0 h-[2px] -bottom-[2px] left-0 bg-[#93C740] origin-right transition-transform ease-out duration-300;
  }

  .custom-link:hover::after {
    @apply transform scale-x-100 origin-left;
  }

  .active-link {
    @apply !text-primary relative inline-block;
  }
}

.container {
  @apply mx-auto px-4;
}

@screen sm {
  .container {
    @apply max-w-screen-sm;
  }

  .nav-bar {
    @apply h-12 md:h-16 px-4;
  }
}

/* Responsiveness */
@screen md {
  .container {
    @apply max-w-screen-md;
  }
}

/* Updated to include new classes */
@screen lg {
  .container {
    @apply max-w-screen-lg;
  }
}

/* Additional classes for maintaining responsiveness */
@screen xl {
  .container {
    @apply max-w-screen-xl;
  }
}

@screen 2xl {
  .container {
    @apply max-w-screen-2xl;
  }
}


@layer base {
  :root {


    --background: 0 0% 100%;


    --foreground: 240 10% 3.9%;


    --card: 0 0% 100%;


    --card-foreground: 240 10% 3.9%;


    --popover: 0 0% 100%;


    --popover-foreground: 240 10% 3.9%;


    --primary: 240 5.9% 10%;


    --primary-foreground: 0 0% 98%;


    --secondary: 240 4.8% 95.9%;


    --secondary-foreground: 240 5.9% 10%;


    --muted: 240 4.8% 95.9%;


    --muted-foreground: 240 3.8% 46.1%;


    --accent: 240 4.8% 95.9%;


    --accent-foreground: 240 5.9% 10%;


    --destructive: 0 84.2% 60.2%;


    --destructive-foreground: 0 0% 98%;


    --border: 240 5.9% 90%;


    --input: 240 5.9% 90%;


    --ring: 240 10% 3.9%;


    --chart-1: 12 76% 61%;


    --chart-2: 173 58% 39%;


    --chart-3: 197 37% 24%;


    --chart-4: 43 74% 66%;


    --chart-5: 27 87% 67%;


    --radius: 0.5rem
  }

  .dark {


    --background: 240 10% 3.9%;


    --foreground: 0 0% 98%;


    --card: 240 10% 3.9%;


    --card-foreground: 0 0% 98%;


    --popover: 240 10% 3.9%;


    --popover-foreground: 0 0% 98%;


    --primary: 0 0% 98%;


    --primary-foreground: 240 5.9% 10%;


    --secondary: 240 3.7% 15.9%;


    --secondary-foreground: 0 0% 98%;


    --muted: 240 3.7% 15.9%;


    --muted-foreground: 240 5% 64.9%;


    --accent: 240 3.7% 15.9%;


    --accent-foreground: 0 0% 98%;


    --destructive: 0 62.8% 30.6%;


    --destructive-foreground: 0 0% 98%;


    --border: 240 3.7% 15.9%;


    --input: 240 3.7% 15.9%;


    --ring: 240 4.9% 83.9%;


    --chart-1: 220 70% 50%;


    --chart-2: 160 60% 45%;


    --chart-3: 30 80% 55%;


    --chart-4: 280 65% 60%;


    --chart-5: 340 75% 55%
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */

  body {
    @apply font-work-sans;
  }
}